body{
    font-family: 'Garamond', serif;
    background-image: url("gotMap.jpg");
}

h1{
    font-weight: bolder;
}

#mainTitle{
    font-family: 'Cinzel', serif; 
    font-size: 150px; 
    color: #ffffff; 
    margin: 20px 0; 
    border-bottom: 2px solid #C0C0C0; 
    padding-bottom: 10px; 
    background: linear-gradient(90deg, rgb(252, 155, 155), rgba(0, 0, 0, 0.5)); 
    display: inline-block;
    border-radius: 5px;
}

#titleBox{
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

a{
    color:#8b4201 ;
}

.card{
    background-color: #f7f5df; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 1px; 
    max-width: 100%;
    max-height: 100%;
}

.rowBorder{
    border-style: solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0.356), rgb(66, 52, 3)) 1; 
    padding: 20px; 
    background-color: white; 
}

.btn-primary{
    background-color: #f7f5df;
    color: black;
    font-weight: bold;
    border-color: black;
}

.btn-primary:hover{
    background-color: #424239e0;
    color: rgb(255, 255, 255);
    border-color: black;
}

#Targaryen {
    background-color: #A50034; /* Red */
}

#Tarly {
    background-color: #6E8B3D; /* Olive Green */
}

#Stark {
    background-color: #3C4B7E; /* Greyish Blue */
}

#Baratheon {
    background-color: #E1B600; /* Gold */
}

#Lannister {
    background-color: #C1A100; /* Goldish Yellow */
}

#Lanister {
    background-color: #C1A100; /* Goldish Yellow */
}

#Greyjoy {
    background-color: #D6A04D; /* Bronze */
}

#Clegane {
    background-color: #7B7B7B; /* Grey */
}

#Baelish {
    background-color: #B22222; /* Firebrick */
}

#Seaworth {
    background-color: #5C7A7B; /* Teal */
}

#Bronn {
    background-color: #7F7F7F; /* Dark Gray */
}

#Tyrell {
    background-color: #8FBC8F; /* Dark Sea Green */
}

#FreeFolk {
    background-color: #B0C4DE; /* Light Steel Blue */
}

#Qyburn {
    background-color: #6A5ACD; /* Slate Blue */
}

#Worm {
    background-color: #A9A9A9; /* Dark Gray */
}

#Tarth {
    background-color: #FFB6C1; /* Light Pink */
}

#Naathi {
    background-color: #FFD700; /* Gold */
}

#Bolton {
    background-color: #A52A2A; /* Brown */
}

#Naharis {
    background-color: #8B4513; /* Saddle Brown */
}

#Lorathi {
    background-color: #FF4500; /* Orange Red */
}

#Mormont {
    background-color: #556B2F; /* Dark Olive Green */
}

#Sparrow {
    background-color: #D3D3D3; /* Light Gray */
}

#Viper {
    background-color: #800080; /* Purple */
}

#Lorath {
    background-color: #C0C0C0; /* Silver */
}

#Sand {
    background-color: #FFDAB9; /* Peach Puff */
}

#Unknown {
    background-color: #808080; /* Gray */
}

#Unkown {
    background-color: #808080; /* Gray */
}

#None {
    background-color: #FFFFFF; /* White */
}
